@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
	--font-poppins: "Poppins", sans-serif;
	--animate-mul-spin: mul-spin 1.1s infinite ease;
	--animate-ping: ping 1s cubic-bezier(0,0,.2,1) infinite;

	@keyframes ping {
		75%, 100% {
			transform: scale(2);
			opacity: 0;
		}
	}
	@keyframes mul-spin {

		0%,
		100% {
			box-shadow: 0em -2.6em 0em 0em #ffffff,
				1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
				2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
				1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
				0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
				-2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
				-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
		}
	
		12.5% {
			box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
				1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
				1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
				0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
				-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
		}
	
		25% {
			box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
				1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
				1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
				0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
				-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
		}
	
		37.5% {
			box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
				1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
				2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
				0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
				-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
		}
	
		50% {
			box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
				1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
				2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
				1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
				-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
				-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
		}
	
		62.5% {
			box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
				1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
				2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
				1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
				0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
				-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
		}
	
		75% {
			box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
				1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
				2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
				1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
				0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
				-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
				-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
		}
	
		87.5% {
			box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
				1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
				2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
				1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
				0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
				-2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
		}
	}
}
* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	color-scheme: dark;
}

@layer utilities {
	.container {
		@apply mx-auto max-w-[1200px] pl-3.5 pr-3.5;
	}

	.canvas-loader {
		@apply font-[10px] w-[1em] h-[1em] border-[50%] relative indent-[-9999em] animate-mul-spin transform-[translateZ(0)];
	}

	.bg-hero-pattern {
		@apply bg-cover bg-no-repeat bg-center bg-[url(./assets/herobg.png)];
	}

	.hero_tag {
		@apply font-[900] font-[Poppins] text-center;
	}
	.social-icon {
		@apply flex h-[3rem] w-[3rem] items-center justify-center rounded-full border border-gray-800 bg-gray-900;
	}
	.btn{
		@apply ml-auto mr-auto flex cursor-pointer items-center justify-center gap-4 border border-gray-800 bg-gray-900 text-white rounded-md px-4 py-2 transition-all duration-150 ease-in-out;
	}
	.btn-ping {
		@apply animate-ping rounded-full bg-green-500 opacity-[.75];
	}

	@media (min-width: 640px) {
		.grid-container {
			@apply p-[1.75rem];
		}
	}
	.grid-container {
		@apply h-full w-full flex flex-col gap-5 rounded-md border border-gray-800 bg-gray-900 p-[1rem];
	}
	.copy-container {
		@apply flex cursor-pointer items-center justify-center gap-4;
	}
	.grid-subtext {
		@apply font-[Poppins] text-[1rem] leading-[1.5rem] text-gray-300;
	}
	.grid-headtext {
		@apply mb-[.5rem] font-[Poppins] text-[1.50rem] leading-[1.75rem] font-[600] text-gray-300;
	}
	.head-text{
		@apply font-[Poppins] text-[1.875rem] leading-[2.25rem] font-[600] text-gray-300;
	}
	  /* clients section */
	.client-container {
		@apply grid md:grid-cols-2 grid-cols-1 gap-5 mt-12;
	}
	.client-content {
		@apply flex lg:flex-row flex-col justify-between lg:items-center items-start gap-5 mt-7;
	}
	.client-review {
		@apply rounded-lg md:p-10 p-5 col-span-1 bg-[#111828];
	}
	.work-container {
		@apply grid lg:grid-cols-3 grid-cols-1 gap-5 mt-12;
	}
	
	.work-canvas {
		@apply col-span-1 rounded-lg border border-gray-800 bg-gray-900;
	}
	
	.work-content {
		@apply col-span-2 rounded-lg border border-gray-800 bg-gray-900;
	}	
	.work-content_container {
		@apply grid grid-cols-[auto_1fr] items-start gap-5  transition-all ease-in-out duration-500 cursor-pointer hover:bg-gray-700 rounded-lg sm:px-5 px-2.5;
	}
	
	.work-content_logo {
		@apply rounded-3xl w-16 h-16 p-2 bg-gray-700 group-hover:bg-gray-900 transition-all ease-in-out duration-500;
	}
	
	.work-content_bar {
		@apply flex-1 w-0.5 mt-4 h-full bg-gray-700 group-hover:bg-gray-900 group-last:hidden transition-all ease-in-out duration-500;
	}

	  /* contact section */
	.contact-container {
		@apply max-w-xl relative z-10 sm:px-10 px-5 mt-12;
	}

	.field-label {
		@apply text-lg text-gray-200;
	}

	.field-input {
		@apply w-full bg-gray-700 px-5 py-2 min-h-14 rounded-lg placeholder:text-gray-300 text-lg text-gray-200 shadow-gray-600 shadow-2xl focus:outline-none;
	}

	.field-btn {
		@apply bg-gray-500 px-5 py-2 min-h-12 rounded-lg shadow-gray-600 shadow-2xl flex justify-center items-center text-lg text-white gap-3;
	}

	.field-btn_arrow {
		@apply w-2.5 h-2.5 object-contain invert brightness-0;
	}
	.head-text {
		@apply sm:text-4xl text-3xl font-semibold;
	}
}