@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
	--font-poppins: "Poppins", sans-serif;
	--animate-mul-spin: mul-spin 1.1s infinite ease;
	@keyframes mul-spin {

		0%,
		100% {
			box-shadow: 0em -2.6em 0em 0em #ffffff,
				1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
				2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
				1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
				0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
				-2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
				-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
		}
	
		12.5% {
			box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
				1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
				1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
				0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
				-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
		}
	
		25% {
			box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
				1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
				1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
				0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
				-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
		}
	
		37.5% {
			box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
				1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
				2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
				0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
				-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
		}
	
		50% {
			box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
				1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
				2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
				1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
				-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
				-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
		}
	
		62.5% {
			box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
				1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
				2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
				1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
				0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
				-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
		}
	
		75% {
			box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
				1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
				2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
				1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
				0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
				-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
				-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
		}
	
		87.5% {
			box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
				1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
				2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
				1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
				0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
				-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
				-2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
		}
	}
}
* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	color-scheme: dark;
}

@layer utilities {
	.container {
		@apply mx-auto max-w-[1200px];
	}

	.canvas-loader {
		@apply font-[10px] w-[1em] h-[1em] border-[50%] relative indent-[-9999em] animate-mul-spin transform-[translateZ(0)];
	}

	.bg-hero-pattern {
		@apply bg-cover bg-no-repeat bg-center bg-[url(./assets/herobg.png)];
	}

	.pink-text-gradient {
		background: #fc67de;
		/* fallback for old browsers */
		background: -webkit-linear-gradient(to top,
				#fc67de,
				#0f00ec);
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to top,
				#fc67de,
				#0f00ec);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.hero_tag {
		@apply font-[900] leading-[1.5] font-[Poppins] text-center;
	}
	.social-icon {
		@apply flex h-[3rem] w-[3rem] items-center justify-center rounded-full border border-gray-800 bg-gray-900;
	}
	.btn{
		@apply ml-auto mr-auto flex cursor-pointer items-center justify-center gap-4 border border-gray-800 bg-gray-900 text-white rounded-md px-4 py-2 transition-all duration-150 ease-in-out;
	}

	@media (min-width: 640px) {
		.grid-container {
			@apply p-[1.75rem];
		}
	}
	.grid-container {
		@apply h-full w-full flex flex-col gap-5 rounded-md border border-gray-800 bg-gray-900 p-[1rem];
	}
	.copy-container {
		@apply flex cursor-pointer items-center justify-center gap-4;
	}
	.grid-subtext {
		@apply font-[Poppins] text-[1rem] leading-[1.5rem] text-gray-300;
	}
	.grid-headtext {
		@apply mb-[.5rem] font-[Poppins] text-[1.25rem] leading-[1.75rem] font-[600] text-gray-300;
	}
}